<h1> Interesting People App </h1>

<div ng-app="app">
  <!-- {{ 1 + 1 }} -->

  <div ng-app ng-controller="displayPeopleCtrl">
    <div ng-repeat="person in people">
    <h3 ng-click="showDetails = ! showDetails"> 
       Name: {{person.name}}</h3>
       <div ng-show="showDetails">
        <p>Bio: {{person.bio}}</p>
      </div>
    </div>
  </div>